<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>AppointmentChecker</title>
</head>
<body>
    <div class="container">
        <div class="text">
           Find an Appointment!
        </div>
        <form method="post">
           <div class="form-row">
             
              <div class="input-data">
                 <input type="text" required name="state">
                 <div class="underline"></div>
                 <label for="">Enter State Here!</label>
              </div>
           </div>
         
              <br />
              <div class="form-row submit-btn">
                 <div class="input-data">
                    <div class="inner"></div>
                    <input type="submit" onclick="" value="submit">
                 </div>
              </div>
        </form>
        </div>
</body>
</html>